.container{
    padding:0px 10rem !important;
  }
  /* nav */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(133, 133, 133);
    color: rgb(255, 255, 255);
    padding: 10px;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
  }

  nav a:hover {
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }

/* harder */
.harder{
  color: rgb(182, 182, 182);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

hr{
height:3px;
}

p{
  font-size: 20px;
}

.click a{
  color:rgb(110, 110, 110)
  }

.click a:hover{
  color:rgb(0, 0, 0)
  }
